body {
  background-color: #ccccec
}
.glyphyicon {
  margin: 0 10px 0 10px;
}

.well {
  min-height: 100%;
}

.well .menu {
  height: 100%;
}

.menu {
  width: 75%;
  height: 100%;
  margin-left: -10px;
}

.example-appear {
  opacity: 0.20;
  margin-left: -700px;
  /** margin-top: -700px; */
  -webkit-opacity: 0.33;
}

.example-appear.example-appear-active {
  -webkit-opacity: 1;
  opacity: 1;
  margin-left: -10px;
  /**
  margin-top: 0;
  -webkit-transition: opacity 5.5s ease, margin-left 1.5s ease, margin-top 1.5s ease;
  transition: opacity 5.5s ease, margin-left 1.5s ease, margin-top 1.5s ease;
  */
  -webkit-transition: opacity 0.5s ease, margin-left 0.5s ease;
  transition: opacity 0.5s ease, margin-left 0.5s ease;
}


.fadein-appear {
  opacity: 0.1;
  -webkit-opacity: 0.1;
}

.fadein-appear.fadein-appear-active {
  -webkit-opacity: 1;
  opacity: 1;
  -webkit-transition: opacity 2.5s ease;
  transition: opacity 2.5s ease;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
