body {
  background-color: #ccccec;
  background-color: #000080;
  background-color: rgb(19,19,70);
  /** peach */
  background-image: linear-gradient(90deg, #fc6e51, #f6bb42);
  /** sea */
  background-image: linear-gradient(90deg, #48cfad, #3bafda);
  /** https://webedx-spark.github.io/coursera-ui/?selectedKind=basic.GradientWrapper&selectedStory=simple%20usage&full=0&down=0&left=1&panelRight=1&downPanel=tuchk4%2Freadme%2Fpanel */
  /** blueberry */
  background-image: linear-gradient(90deg, #5d9cec, #967adc);
  /** midnight combo */
  background-image: linear-gradient(90deg, #000080, #5d9cec);

  background-image: linear-gradient(90deg, #48cfad, #3bafda);
}

.logo {
  color: #48cfad;
  color: white;
  background-image: linear-gradient(90deg, #5d9cec, #967adc);
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

h3 {
  background: white;
  color: black;
  width: 80%;
  margin-left: 10%;
  padding: 5px;
  border-radius: 5px;
}

.well, .jumbotron {
  background-image: linear-gradient(90deg, #fc6e51, #f6bb42);
  background-image: linear-gradient(90deg, #5d9cec, #967adc);
  background-image: linear-gradient(90deg, #cccccc, #eeeeee);
}

.well {
  margin-bottom: 50px;
}

.btn-primary {
  background: rgb(106,204,203);
}

.glyphyicon, .fa {
  margin: 0 10px 0 10px;
}

.well {
  min-height: 100%;
}

.well .menu {
  height: 100%;
}

.menu {
  width: 75%;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
}

.example-appear {
  opacity: 0.20;
  margin-left: -700px;
  -webkit-opacity: 0.33;
}

.example-appear.example-appear-active {
  -webkit-opacity: 1;
  opacity: 1;
  margin-left: 0;
  -webkit-transition: opacity 0.5s ease, margin-left 0.5s ease;
  transition: opacity 0.5s ease, margin-left 0.5s ease;
}


.fadein-appear {
  opacity: 0.1;
  -webkit-opacity: 0.1;
}

.fadein-appear.fadein-appear-active {
  -webkit-opacity: 1;
  opacity: 1;
  -webkit-transition: opacity 2.5s ease;
  transition: opacity 2.5s ease;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
